{
	admin off
	auto_https disable_redirects
	https_port 4430
}

auth.caddygate.com {
	tls internal
	gate {
		data_dir {$HOME}/.local/share/caddy/gate/caddygate.com
		secret "gd0NcHq9CtemAxiUino3Mtj_rSeJC5k-Uz-tHnI-KKY"
		rp {
			id caddygate.com
			display_name "Caddygate Demo"
			origin https://auth.caddygate.com:4430
		}
		users {
			zaphod "Zaphod" admin
			trillian "Trillan" admin audit
			marvin
		}
	}
}

admin.caddygate.com {
	tls internal
	gate with admin
	respond "Welcome admin, you were successfully authorized."
}

audit.caddygate.com {
	tls internal
	gate with audit
	respond "Welcome audit, you were successfully authorized."
}

home.caddygate.com {
	tls internal
	gate
	respond "Welcome user, you were successfully authorized."
}
