{
	admin off
	auto_https disable_redirects
}

auth.internal {
	tls internal
	gate {
		data_dir /etc/caddy/gate/example.com
		cookie_secret "gd0NcHq9CtemAxiUino3Mtj_rSeJC5k-Uz-tHnI-KKY"
		users {
			zaphod "Zaphod" admin
			trillian "Trillan" admin
			marvin
		}
	}
}

admin.internal {
	tls internal
	gate / admin
}

home.internal {
	tls internal
	gate
}
