html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  display: grid;
  place-items: center;
  height: 100vh;
}

.error {
  display: grid;
  place-items: center;

  svg {
    width: 64px;
    height: 64px;
    fill: none;
    margin-bottom: 1rem;
  }
}
