html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  display: grid;
  place-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

h1, h2, h3 {
  margin: 0;
}

form {
  display: grid;
  gap: 0.5rem;
}

input, select {
  padding: 0.25rem;
}

button, input[type="submit"] {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  padding: 8px 0.8em;
  vertical-align: baseline;

  &:hover,
  &:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
  }

  &:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }
}

.error {
  display: grid;
  place-items: center;
  gap: 1rem;

  svg {
    width: 64px;
    height: 64px;
    fill: none;
  }
}

.invite {
  margin-top: 3rem;
}
