html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  display: grid;
  place-items: center;
  margin-top: 5rem;
}

form {
  display: grid;
  gap: 0.5rem;
}

input, select, button {
  padding: 0.25rem;
}

.error {
  display: grid;
  place-items: center;
  gap: 1rem;

  svg {
    width: 64px;
    height: 64px;
    fill: none;
  }
}
